name: pull request

on:
  pull_request:
    branches:
      - master
    types: [opened, edited, reopened, synchronize]

jobs:
  test:
    name: "test"
    runs-on: ubuntu-latest

    steps:
      - name: check out repo
        uses: actions/checkout@v4

      - name: setup node
        uses: actions/setup-node@v4
        with:
          node-version: 20.20.0
          cache: npm
      - name: install system dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y gettext
      - name: install npm dependencies
        run: npm ci
      - name: run tests
        run: npm run test
      - name: build package
        run: npm run build
      - name: build docs
        run: npm run docs:build
